<div class="row">
    <div class="col-7">
        <h2 >Activity</h2>
    </div>
    <div class="col-2.5">
      <a [routerLink]="['/expenses', 0]"><button class="btn btn-primary expenseButton">Add an expense</button></a>
    </div>
    <div class="col-2">
        <a [routerLink]="['/settleup']"><button class="btn btn-primary settleUp">Settle up</button></a>
    </div>
  </div>
  <hr>

  <ul class="list-group">
    <li *ngFor='let activity of activities' class="list-group-item">{{activity.description}}</li>
  </ul>
