
<div class="container-fluid">
  <div>
    <div class="col-4" style="float: left;">
      <h4>Login</h4>
      <br>
      <form class="form-horizontal" #loginForm="ngForm" class="myForm" (ngSubmit)="onLogin()" ngNativeValidate>
        <div class="row">
          <div class="col-md-4">
            <label for="email">
              email:
            </label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" name="email" id="email">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="password">
              password:
            </label>
          </div>
          <div class="col-md-8">
            <input type="password" class="form-control" name="password" id="password">
          </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
      </form>
    </div>
    <div class="col-6" style="float: right;">
        <h4>Register</h4>
        <br>
      <form class="form-horizontal" #registerForm="ngForm" class="myForm" (ngSubmit)="onRegister()" ngNativeValidate>
        <div class="row">
          <div class="col-md-4">
            <label for="name">
              name:
            </label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="name" id="name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="email">
              email:
            </label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="email" id="reg-email">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="password">
              password:
            </label>
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control" name="password" id="reg-password">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label for="confirmPassword">
              confirm password:
            </label>
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
        <br>
      </form>
    </div>
  </div>
</div>
