.inline {
  display:inline-block;
  margin-right:5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.centre-col{
  text-align: center;
}


.group{
  margin-right: 5px;
}

input{
  border-top: none;
  border-left: none;
  border-right: none;
}

label{
  margin-top: 10px;
}
