<div *ngIf="currentUser" class="base">
  <div class="container-fluid">
    <nav id="sideNav" class="col-lg-3">

      <br>
      <br>
      <br>
      <ul>
          <li><button type="button" class="btn btn-primary" (click)="logout()">LogOut</button></li>
        <a [routerLink]="['/dashboard']">
          <li>Dashboard</li>
        </a>
        <a [routerLink]="['/activity']">
          <li>Activity</li>
        </a>
        <a [routerLink]="['/allexpenses']">
          <li>All Expenses</li>
        </a>
        <a [routerLink]="['/groups']">
          <li>Groups</li>
        </a>
        <a *ngFor='let group of groups' [routerLink]="['/group', group.id]" routerLinkActive="router-link-active">
          <li><i class="material-icons">
              people
            </i>{{group.name}}</li>
        </a>

        <a [routerLink]="['/friends']">
          <li>Friends</li>
        </a>

        <a *ngFor='let friend of friends' [routerLink]="['/friend', friend.id]" routerLinkActive="router-link-active">
          <li><i class="material-icons">
              person
            </i>{{friend.name}}</li>
        </a>


      </ul>
    </nav>
  </div>
  <br>
  </div>
  <div id="mainContent" class="col-lg-9">
    <router-outlet></router-outlet>
  </div>



<!-- <div *ngIf="login === false" class="login">
  <br>
  <br>
  <br>
  <div class="container-fluid">
    <div>
      <div class="col-4" style="float: left;">
        <h4>Login</h4>
        <br>
        <form class="form-horizontal" #loginForm="ngForm" class="myForm" (ngSubmit)="onLogin()" ngNativeValidate>
          <div class="row">
            <div class="col-md-4">
              <label for="email">
                email:
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" name="email" id="email">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label for="password">
                password:
              </label>
            </div>
            <div class="col-md-8">
              <input type="password" class="form-control" name="password" id="password">
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6" style="float: right;">
        <h4>Register</h4>
        <br>
        <form class="form-horizontal" #registerForm="ngForm" class="myForm" (ngSubmit)="onRegister()" ngNativeValidate>
          <div class="row">
            <div class="col-md-4">
              <label for="name">
                name:
              </label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="name" id="name">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label for="email">
                email:
              </label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="email" id="reg-email">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label for="password">
                password:
              </label>
            </div>
            <div class="col-md-6">
              <input type="password" class="form-control" name="password" id="reg-password">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label for="confirmPassword">
                confirm password:
              </label>
            </div>
            <div class="col-md-6">
              <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>

</div> -->
