
#sideNav {
  background-color: rgb(171, 227, 236);
  width: 200px;
  position: absolute;
  height: 100%;
}

#mainContent {
  float: left;
  width: 84%;
  margin-left: 220px;
}
li {
  list-style-type:none;
  padding-bottom: 5px;
}

