<div class="row">
    <div class="col-7">
        <h2 >Dashboard</h2>
    </div>
    <div class="col-2.5">
        <button class="btn btn-primary">Add an expense</button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary">Settle up</button>
    </div>
  </div>
  <hr>

  <div class="row centre-col">
      <div class="col-4">
        <label>total balance</label>
      </div>
      <div class="col-4">
          <label>you owe</label>
      </div>
      <div class="col-4">
          <label>you are owed</label>
      </div>
    </div>
    <hr>
    <div class="row centre-col">
        <div class="col-6">
            <label>you owe</label>
        </div>
        <div class="col-6">
            <label>you are owed</label>
        </div>
      </div>
