<div class="row">
  <div class="col-7">
    <h2>Dashboard</h2>
  </div>
  <div class="col-2.5">
    <a [routerLink]="['/expenses', 0]"><button class="btn btn-primary expenseButton">Add an expense</button></a>
  </div>
  <div class="col-2">
      <a [routerLink]="['/settleup']"><button class="btn btn-primary settleUp">Settle up</button></a>
  </div>
</div>
<hr>

<div class="row centre-col">
  <div class="col-4">
    <label>total balance</label>
  </div>
  <div class="col-4">
    <label>you owe</label>
  </div>
  <div class="col-4">
    <label>you are owed</label>
  </div>
</div>
<div class="row centre-col">
  <div class="col-4" [ngClass]="(grandTotal>0)?'owed':'owe'">

    {{sign}}{{grandTotal}}
  </div>
  <div class="col-4 owe">

    {{totalOwes}}
  </div>
  <div class="col-4 owed">

    {{totalOwed}}
  </div>
</div>
<hr>
<!-- without settlements
<div class="row centre-col">
  <div class="col-6">
    <label>you owe</label>
    <ul class="list-group">
      <li *ngFor='let owe of owesTab' class="list-group-item owe">{{owe}}</li>
    </ul>
  </div>
  <div class="col-6">
    <label>you are owed</label>
    <ul class="list-group">
      <li *ngFor='let owed of owedTab' class="list-group-item owed">{{owed}}</li>
    </ul>
  </div>
</div>

<ul class="list-group">
  <li *ngFor='let settle of settlements' class="list-group-item">{{settle.payer.name}} paid Rs. {{settle.amount}} to {{settle.payee.name}}</li>
</ul>
-->
<div class="row centre-col">
  <div class="col-6">
    <label>you owe</label>
    <ul class="list-group">
      <li *ngFor='let owe of finalOwesTab' class="list-group-item owe">{{owe}}</li>
    </ul>
  </div>
  <div class="col-6">
    <label>you are owed</label>
    <ul class="list-group">
      <li *ngFor='let owed of finalOwedTab' class="list-group-item owed">{{owed}}</li>
    </ul>
  </div>
</div>
